{{#if message}}
    <div id="flash-message" role="alert">
        <div class="alert alert-danger">{{message.status}}</div>
        <br />
        <div class="alert alert-danger">{{message.message}}</div>
    </div>
{{/if}}