<header>
    <nav class="container flex justify-around py-8 mx-auto bg-white">
        <div>
            <img
                class="object-contain h-10 w-10"
                src="/images/UNO_Logo.webp"
                alt="uno_image"
            />
        </div>
        <ul class="flex">
            <li class="mr-6"><a
                    class="hover:text-blue-800"
                    href="/"
                >Home</a></li>
            <li class="mr-6"><a
                    class="hover:text-blue-800"
                    href="/"
                >Register</a></li>
            <li class="mr-6"><a
                    class="hover:text-blue-800"
                    href="/"
                >Setting</a></li>
        </ul>
    </nav>
</header>