<div
    class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
>
    <img src="/images/face.webp" alt="sum ting wong" />
    <div>Username: {{user.display_name}}</div>
    <div>Number of Wins: {{user.num_wins}}</div>
    <div>Number of Loss: {{user.num_loss}}</div>
</div>