<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='/stylesheets/style.css' rel='stylesheet'>
    <link href="/stylesheets/cards.css" rel="stylesheet">
<!--    <link href="/dist/output.css" rel="stylesheet">--> <!-- FIXME: THIS DOES NOT EXIST -->

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/javascripts/rule_modal.js"></script>
    {{#if registration}}
    <link rel="stylesheet" href="/stylesheets/registration_validation.css">
    <script src="/javascripts/registration_validation.js" defer></script>
    {{/if}}
  </head>
  <body>
    {{> header}}

    {{{body}}}
  </body>
</html>
