<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body>
    {{> header}}

    {{{body}}}
  </body>
</html>
