<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href='/stylesheets/style.css' rel='stylesheet'>
    <link href="/stylesheets/cards.css" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {{> header}}

    {{{body}}}
  </body>
</html>
