<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href='/stylesheets/style.css' rel='stylesheet'>
    <link href="/stylesheets/cards.css" rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
    <script src="/javascripts/rule_modal.js"></script>
    {{#if postRegistration}}
        <link rel="stylesheet" href="/stylesheets/registration_validation.css">
        <script src="/javascripts/registration_validation.js" defer></script>
    {{/if}}
    <script src="/javascripts/flash_message.js" defer></script>

    {{!-- need if condition of where we are --}}
    <script src="/javascripts/socket_io_message.js" defer></script>
    {{!-- <script src="/javascripts/socket_io_game.js" defer></script> --}}

    <script src="/javascripts/create_game.js" defer></script>
    <script src="/javascripts/logout.js" defer></script>
    <script src="/javascripts/leave_game.js" defer></script>
    <script src="/javascripts/login.js" defer></script>
    <script src="/javascripts/challenge.js" defer></script>


</head>
<body>
{{> header}}
{{> flashmessage}}
{{{body}}}
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socket_io_client.js" defer></script>

</html>
