<div class="grid grid-cols-8 gap-3">
    <div class="grid grid-cols-3 col-span-6">
        <div class="col-span-1"></div>
        <div class="col-span-1 cards northPlayer">
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-span-1"></div>
        <div class="col-span-1 cards westPlayer">
             <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="flex content-center items-center justify-center col-span-1">
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                    <div class="unoCard flipped drawCard">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard num-3 green">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-span-1 cards eastPlayer">
             <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-span-1"></div>
        <div class="col-span-1 cards playerDeck">
            <div class="cardWrapper">
                <div class="unoCard num-0 blue">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard num-2 red">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard num-3 blue">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard num-4 green">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard num-0 yellow">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard num-6 red">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard skip green">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard num-8 yellow">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
            <div class="cardWrapper">
                <div class="unoCard num-9 blue">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-span-1"></div>
    </div>
    <div class="flex flex-col space-y-2 col-span-2 h-[calc(100vh_-_112px)] p-2 bg-slate-200">
        <div class="flex flex-row text-black font-bold">
            <p class="text-center w-full">Chat</p>
        </div>
        <div class="overflow-y-auto grow p-2 bg-white">

            <div class="p-2">
                <span class="font-bold text-sky-700">Eric: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </div>

            <div class="p-2">
                <span class="font-bold text-green-700">John: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

        </div>
        <div class="flex flex-row">
            <textarea
                class="resize-none w-full p-2"
                name=""
                height="100%"
                id=""
                placeholder="Talk Smack"
            ></textarea>
            <button
                class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 h-24 w-32"
            >
                Send
            </button>
        </div>
    </div>
</div>