<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<div>
    <div>
        <ul>
            <li>Game List</li>
            <li><a href="#">Game 1</a></li>
            <li><a href="#">Game 2</a></li>
            <li><a href="#">Game 3</a></li>
            <li><a href="#">Game 4</a></li>
            <li><a href="#">Game 5</a></li>
            <li><a href="#">Game 6</a></li>
            <li><a href="#">Game 7</a></li>
            <li><a href="#">Game 8</a></li>
            <li><a href="#">Game 9</a></li>
            <li><a href="#">Game 10</a></li>
            <li><a href="#">Game 11</a></li>
            <li><a href="#">Game 12</a></li>
            <li><a href="#">Game 13</a></li>
            <li><a href="#">Game 14</a></li>
            <li><a href="#">Game 15</a></li>
            <li><a href="#">Game 16</a></li>
            <li><a href="#">Game 17</a></li>
            <li><a href="#">Game 19</a></li>
            <li><a href="#">Game 20</a></li>
        </ul>
    </div>
    <div>
        <h2>Login</h2>
        <form
            action="/users/login"
            method="POST"
            enctype="application/x-www-form-urlencoded"
        >
            <label for="username">Username</label>
            <input
                type="text"
                name="username"
                placeholder="Enter username"
                required
            />
            <label for="password">Password</label>
            <input
                type="text"
                name="password"
                placeholder="Enter password"
                required
            />
        </form>
    </div>
</div>