<div class="grid grid-cols-8 gap-3">
    <div class="col-span-5 bg-slate-400 rounded-lg overflow-y-scroll h-50">
        <ul class="">
            <li class="border list-none rounded-sm px-3 py-3">Game List</li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 1</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 2</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 3</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 4</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 5</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 6</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 7</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 8</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 9</a></li>
            <li class="border list-none rounded-sm px-3 py-3"><a
                    href="/games"
                >Game 10</a></li>
        </ul>
    </div>
    <div class="col-span-3 justify-center">
        <h2 class="rounded-sm px-3 py-3">Login</h2>
        <form
            action="/login"
            method="POST"
            enctype="application/x-www-form-urlencoded"
        >
            <label class="rounded-sm px-3 py-3" for="username">Username</label>
            <input
                class="rounded-sm px-3 py-3"
                type="text"
                name="username"
                placeholder="Enter username"
                required
            />
            <label class="rounded-sm px-3 py-3" for="password">Password</label>
            <input
                class="rounded-sm px-3 py-3"
                type="text"
                name="password"
                placeholder="Enter password"
                required
            />
            <button>Login</button>
        </form>
    </div> }}
    {{!-- {{#if logged}} --}}
    <div
        class="col-span-3 card bg-white flex flex-col items-center justify-center p-4 shadow-lg rounded-2xl"
    >
        <img class="w-50 h-50" src="/images/face.webp" alt="sum ting wong" />
        <div>Username: {{username}}</div>
        <div>Info1: {{num_wins}}</div>
        <div>Info2: {{num_loss}}</div>
        <div>Info3: {{date_joined}}</div>
        <div class="w-full mt-8">
            <button
                class="bg-blue-500 py-2 px-2 hover:bg-blue-600 text-white w-full font-semibold rounded-lg shadow-lg"
            >Edit Profile</button>
        </div>
    </div>
    {{!-- {{/if}} --}}
</div>