<div class="grid grid-cols-8 gap-3">
    <div class="grid grid-cols-3 col-span-6 gap-4" id="list_of_players">
    </div>

    <div class="grid invisible hidden grid-cols-3 col-span-6" id="game_window">
        <div class="col-span-1"></div>

        <div class="col-span-1 cardStateRows" id="player2"></div>
        <div class="col-span-1"></div>
        <div class="col-span-1 cardStateRows" id="player1"></div>

        <div class="flex items-center content-center justify-center col-span-1">
            <div class="cardWrapper">
                <div class="unoCard flipped">
                    <span class="inner">
                        <span class="mark"></span>
                    </span>
                </div>
                <div class="cardWrapper" id="drawCard">
                    <div class="unoCard flipped">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="discard">
                <div class="cardWrapper">
                    <div class="unoCard num-3 green">
                        <span class="inner">
                            <span class="mark"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-1 cardStateRows" id="player3"></div>
        <div class="col-span-1"></div>
        <div class="col-span-1 cardStateRows" id="player0"></div>
        <div></div>
        <div class="relative grid content-center col-span-1">
            <button
                id="leaveGame"
                class="absolute bottom-0 right-0 px-4 py-2 mb-4 font-bold text-white bg-red-500 rounded hover:bg-red-700"
            >Leave</button>
        </div>
        <div class="relative grid content-center col-span-1"><button
                id="challenge"
                class="absolute bottom-0 right-0 px-4 py-2 mb-4 font-bold text-white rounded bg-sky-500 hover:bg-sky-700"
            >Challenge</button>
        </div>
        <div class="relative grid content-center col-span-1">
            <button
                id="callUno"
                class="absolute bottom-0 right-0 px-4 py-2 mb-4 font-bold text-white rounded bg-sky-500 hover:bg-sky-700"
            >Uno</button>
        </div>
    </div>
    <div
        class="flex flex-col space-y-2 col-span-2 h-[calc(100vh_-_112px)] p-2 bg-slate-200"
    >
        <div class="flex flex-row font-bold text-black">
            <p class="w-full text-center">Chat</p>
        </div>
        <div class="p-2 overflow-y-auto bg-white grow" id="sandbox_message_box">
        </div>
        <div class="flex flex-row">
            <textarea
                class="w-full p-2 resize-none"
                name=""
                height="100%"
                id="socket_message"
                placeholder="Message here"
            ></textarea>
            <button
                id="in_game_socket_message_button"
                class="w-32 h-24 px-4 py-2 font-bold text-white bg-sky-500 hover:bg-sky-700"
                {{! onclick="socket.emit('client-message', 'Hello FROM BUTTON'); console.log(`BUTTON CLICKED`)" }}
            >
                Send
            </button>
        </div>
    </div>
</div>
{{! <script src="/javascripts/test_game.js"></script> }}
<script src="/javascripts/uno_game_render.js"></script>