<div class="grid grid-cols-8 gap-3">
    {{! players }}
    <div class="grid grid-cols-3 col-span-6 gap-4">
        <div></div>
        <div
            class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
        >
            <img src="/images/face.webp" alt="sum ting wong" />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div></div>
        <div
            class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
        >
            <img src="/images/face.webp" alt="sum ting wong" />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
        >
            <img src="/images/face.webp" alt="sum ting wong" />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>
        <div
            class="flex flex-col items-center justify-center p-4 bg-white shadow-lg card rounded-2xl"
        >
            <img src="/images/face.webp" alt="sum ting wong" />
            <div>Username: {{username}}</div>
            <div>Info1: </div>
            <div>Info2: </div>
            <div>Info3: </div>
        </div>

        <div></div>
        <div class="flex items-center justify-center">
            <a
                class="w-1/2 px-4 py-2 font-bold text-center text-white bg-sky-500 hover:bg-sky-700"
                href="/games/renderTestGame"
            >Start Game</a>
        </div>
        <div></div>

    </div>
    <div
        class="flex flex-col space-y-2 col-span-2 h-[calc(100vh_-_112px)] p-2 bg-slate-200"
    >
        <div class="flex flex-row font-bold text-black">
            <p class="w-full text-center">Chat</p>
        </div>
        <div class="p-2 overflow-y-auto bg-white grow">

            <div class="p-2">
                <span class="font-bold text-sky-700">Eric: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </div>

            <div class="p-2">
                <span class="font-bold text-green-700">John: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

            <div class="p-2">
                <span class="font-bold text-red-700">Eddy: </span>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of
                Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </div>

        </div>
        <div class="flex flex-row">
            <textarea
                class="w-full p-2 resize-none"
                name=""
                height="100%"
                id=""
                placeholder="Talk Smack"
            ></textarea>
            <button
                class="w-32 h-24 px-4 py-2 font-bold text-white bg-sky-500 hover:bg-sky-700"
            >
                Send
            </button>
        </div>
    </div>
</div>